html, body, .markdown-preview {
  background: #fff !important;
  color: #000 !important;
}
table, th, td, pre, code {
  background: #fff !important;
  color: #000 !important;
  border-color: #333 !important;
}